<h1 id="tableLabel">Weather Forecast</h1>

<p *ngIf="!forecast"><em>Loading...</em></p>

<div *ngIf="forecast">
  <h2 *ngIf="!forecast.errorMessage">{{ forecast.weather.title }}, {{forecast.weather.parent.title}} - Currently {{forecast.weather.consolidatedWeather[0].currentTemperature}} °C</h2>
  <h2 *ngIf="forecast.errorMessage">{{ forecast.cityName }} does not exist!</h2>
  <div class="float-right">
    <form (ngSubmit)="onSubmit(cityBox.value)">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="City" required aria-label="City" #cityBox>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="getWeatherForCity(cityBox.value)">Search</button>
        </div>
      </div>
    </form>
  </div>
  <p>Updated as of {{forecast.lastRefresh}}</p>

  <div class="table-responsive position-relative">
    <ngx-pull-to-refresh spinnerColor="#ff0000"
	distanceForRefresh="40"
	[isEnable]="true"
	[targetElement]="targetElement"
	(refresh)="myRefreshEvent($event, 'refresh')"
	>
      <table class='table table-striped table-hover'>
        <thead>
          <tr>
            <th>Date</th>
            <th>Min Temp. (°C)</th>
            <th>Max Temp. (°C)</th>
            <th colspan="2">Weather</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="!forecast.errorMessage">
            <tr *ngFor="let weatherOnDay of forecast.weather.consolidatedWeather">
              <td class="align-middle">{{ weatherOnDay.date }}</td>
              <td class="align-middle">{{ weatherOnDay.minTemperature }}</td>
              <td class="align-middle">{{ weatherOnDay.maxTemperature }}</td>
              <td class="align-middle">{{ weatherOnDay.weatherStateName }}</td>
              <td><img style="height:40px; width:40px;" src="{{weatherOnDay.weatherStateImageURL}}" /></td>
            </tr>
          </ng-container>

          <tr *ngIf="forecast.errorMessage">
            <td colspan="5">{{forecast.errorMessage}}</td>
          </tr>
        </tbody>
      </table>
    </ngx-pull-to-refresh>
  </div>
</div>
